.straipsniai{
    margin: 5px 20px 10px 20px;

}

article{
    border: solid 1px;
    border-radius: 2px;
    padding: 5px 20px 15px 10px;
    margin-bottom: 10px;
}

article>p{
    text-align: justify;
}
.straipsniai img{
    display: block;
    width: 20%;
    max-height: 20%;
    float: left;
}