.pagrindinis>article{
    float: left;
    padding: 10px;
    height: 100%;
  }
  
  .left {
    width: 77%;
  }
  
  .right {
    width: 23%;
    float: left;
    padding: 5px;
  }
.pagrindinis>article{
    width: 99%;
    border: 1px solid;
    border-radius: 2px;
    margin: 15px;
    text-align: justify;
    padding: 5px 20px 15px 10px;
}

.pagrindinis>article>img{
    margin: 3px;
    padding-right: 10px;
    float: left;
    width: 280px;
    height: 135px;
    object-fit: cover;
}

.d-flex {

	flex-grow: 1;
	min-width: 20rem;
}

.antraste{
    text-align: center;
    color: firebrick;
    padding-bottom: 1px;
    padding-top: 1.2em;
}

.prenumeratabtn{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.prenumerata{
    margin-left: 15px;
    border: none;
    background: firebrick;
    color: white;
    padding: 14px 18px;
    opacity: 0.6;
    transition: 1s;
}

.prenumerata:hover{
    opacity: 1;
}

.form-popup {
    display: none;
    position: sticky;
    top: 0px;
    margin-left: 15px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text]{
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: firebrick;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: black;
    color: white;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
* {
  box-sizing: border-box;
}

.nav-link {
    color: firebrick!important;
    border-bottom: 1px solid transparent;
}
.nav-link:hover {
    font-weight: bold;
    border-bottom: 2px solid firebrick;
}